@import "../../globals";

:host {
  .checkbox-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    mat-checkbox {
      width: 50%;
    }
  }
  .mat-chip-list-wrapper {
    flex-direction: row;
  }
  .search-result-item {
    :hover{
      @include mat-nav-list-item-hover()
    }
  }
}