<mat-card>
  <mat-card-header>
    <h2>{{person.name}}</h2>
  </mat-card-header>
  <mat-card-content>
    <div class="profile-details">
      <img src="{{personProfileUrl}}">
      <div>
        <div>Born: {{person.birthday | date : 'longDate'}} in {{person.place_of_birth}}</div>
        <div *ngIf="person.deathday">Died on {{person.deathday | date : 'longDate'}}</div>
        
        <p>
          {{person.biography}}
        </p>
      </div>
    </div>
    <div>
      
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <h3>Movie Appearances ({{person.movie_credits.cast.length}})</h3>
        </mat-expansion-panel-header>
        <mat-list role="list" dense>
          <mat-list-item role="listitem" *ngFor="let cast of person.movie_credits.cast">
            <span *ngIf="cast.character">{{cast.character}} in&nbsp;</span><a routerLink="/movie/{{cast.id}}">{{cast.title}} ({{cast.release_date | date : 'yyyy'}})</a></mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </div>
    
  </mat-card-content>
</mat-card>
