<mat-form-field floatLabel="never">
  <input type="text" placeholder="Search for an Actor, Actress or Movie..." aria-label="Number" matInput [formControl]="search" [matAutocomplete]="auto" [(ngModel)]="searchText">
  <button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''">
    <mat-icon>close</mat-icon>
  </button>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="goToResult($event)">
    <mat-option *ngFor="let result of searchResults" [value]="result" [ngSwitch]="result.media_type">
        <app-search-result-movie *ngSwitchCase="'movie'">I am a movie result!</app-search-result-movie>
        <app-search-result-tv *ngSwitchCase="'tv'">I am a tv result!</app-search-result-tv>
        <app-search-result-person *ngSwitchCase="'person'">I am a person result!</app-search-result-person>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>