<p>
  {{ 'WELCOME' | translate }}
</p>
<div class="instruction-text" [innerHTML]="'INSTRUCTIONS' | translate"></div>
<mat-card>
  <mat-card-content>
    <div>
      <h2>Trending Movies</h2>
      <mat-nav-list>
        <a mat-list-item routerLink="/movie/{{movie.id}}" *ngFor="let movie of trendingMovies; let i = index;">{{i+1}}. {{movie.title}} ({{movie.release_date | date : 'yyyy'}})</a>
      </mat-nav-list>
    </div>
    <div>
      <h2>Trending TV Shows</h2>
      <mat-nav-list>
        <a mat-list-item routerLink="/tv/{{show.id}}" *ngFor="let show of trendingShows; let i = index;">{{i+1}}. {{show.name}} ({{show.first_air_date | date : 'yyyy'}})</a>
      </mat-nav-list>
    </div>
  </mat-card-content>
</mat-card>